<html lang="en">

<head>
    <!-- Do not forget to change the path to the css file -->
 
    <title>Offers</title>
</head>

<body>
    <!-- In case of error, you should display div with class "error" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

    <!-- <div class="error">
        <p>Error message - 1</p>
        <p>Error message - 2</p>
    </div> -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
           
            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">
                    <!-- Guest users and Logged users -->
                    <li class="nav-item">
                        <a class="nav-link" href="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Shared Trips</a>
                    </li>
                    <!-- Logged users -->
                    <li class="nav-item">
                        <a class="nav-link" href="">Offer Trip</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Logout as [ test@abv.bg ]</a>
                    </li>
                    <!-- Guest users -->
                    <li class="nav-item">
                        <a class="nav-link" href="">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <section class="container" id="shared-trips-page">
           
            <div class="row text-center" >
                <!-- If there are shared trips in the database display each of them -->

                <!-- trip #1 -->
                <ng-container *ngIf="offer!=null&&offer.length>0">

                    <div class="col-lg-4 col-md-6 mb-4"*ngFor="let offer of offer">
                        <div class="card h-100">
                            <img class="card-img-top"
                                src={{offer.imageUrl}}
                                alt="">
                            <div class="card-body">
                                <h5 class="card-title">City: <span>{{offer.city}}</span>
                                    </h5>
                                <h5 class="mt-4 card-info">  Model: <span>             {{offer.model}}</span>
                                </h5>
                                <h5 class="mt-4 card-info"> Color: <span>{{offer.color}}</span></h5>
                                <h5 class="mt-4"><i class="fas fa-hand-holding-usd"></i> Price: <span>{{offer.price}}</span> BGN</h5>
                            </div>
                            <div class="card-footer">
                                <a href={{offer._id}} class="btn btn-primary">Details</a>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="offer!=null&&offer.length==0">
                    <div class="no-trips">
                       
                        <p class="lead">There is no offers right now...</p>
                    </div>
    
                </ng-container>
                
                <!-- trip #2 -->
                
                <!-- If there are no shared trips in the database -->
              
            </div>
        </section>
    </main>

    
</body>

</html>
