<html lang="en">
  <head>
    <!-- Do not forget to change the path to the css file -->

    <title>Offer Trip</title>
  </head>

  <body>
    <!-- In case of error, you should display div with class "error" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

    <!-- <div class="error">
        <p>Error message - 1</p>
        <p>Error message - 2</p>
    </div> -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <!-- Do not forget to change the path to the images -->

        <ul class="navbar-nav ml-auto">
          <!-- Guest users and Logged users -->
          <li class="nav-item">
            <a class="nav-link" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Shared Trips</a>
          </li>
          <!-- Logged users -->
          <li class="nav-item">
            <a class="nav-link" href="">Offer Trip</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Logout as [ test@abv.bg ]</a>
          </li>
          <!-- Guest users -->
          <li class="nav-item">
            <a class="nav-link" href="">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Register</a>
          </li>
        </ul>
      </div>
    </nav>
<ng-container *ngIf="car!=null">


    <main>
      <section class="py-5" id="offer-trip-page">
        <div class="container offer-trip">
          <h1>Edit Offer</h1>
          <div>
            <form #form="ngForm">
              <div class="offer-label">
                <label for="town">
                  <i class="fas fa-map-marker-alt"></i> Town: {{car.city}}</label
                >
                <label for="year"
                  ><i class="far fa-calendar-alt"></i> Year: {{car.year}}</label
                >
              </div>
              <div class="form-group offer-input">
                <input
                value={{city}}
                ngModel
                #townInput="ngModel"
                  type="text"
                  class="form-control-2"
                  id="town"
                  placeholder="Plovdiv"
                  name="town"
                  required=""
                  minlength="2"
                  
                />
        
                <ng-container *ngIf="townInput.touched">
                    <div class="error" *ngIf="townInput.errors?.['required']">
                        <p>
                            Town is required!
                        </p>
                    </div>
                    <div class="error" *ngIf="townInput.errors?.['minlength']">
                        <p>

                            Town has to be at least 2 characters long!
                        </p>
                    </div>
                  </ng-container>
                <input
                ngModel
                #yearInput="ngModel"
                  type="number"
                  class="form-control-2"
                  id="year"
                  placeholder="2002"
                  name="year"
                  value='11222'
                  required=""
                />
              </div>
              <ng-container *ngIf="yearInput.touched">
                <div class="error" *ngIf="yearInput.errors?.['required']">
                    <p>

                    Year is required!

                    </p>
                </div>
               
              </ng-container>
              <div class="offer-label">
                <label for="time">Made In: {{car.madeIn}}</label>
                <label for="color">Color: {{car.color}}</label>
              </div>
              <div class="form-group offer-input">
                <input
                ngModel
                #madeInInput="ngModel"
                  type="text"
                  class="form-control-2"
                  id="made"
                  placeholder="China"
                  name="madeIn"
                  value="{{car.madeIn}}"
                  required=""
                
                  />
                  
                  <input
                  ngModel
                  #colorInput="ngModel"
                  type="text"
                  class="form-control-2"
                  id="time"
                  placeholder="Color"
                  name="color"
                  value={{car.color}}
                  required=""
                  />
                </div>
                  <ng-container *ngIf="colorInput.touched">
                    <div class="error" *ngIf="colorInput.errors?.['required']">
                        <p>
                            
                            Color is required!
                            
                        </p>
                    </div>
                   
                </ng-container>
                
                
                <ng-container *ngIf="madeInInput.touched">
                    <div class="error" *ngIf="madeInInput.errors?.['required']">
                        <p>
                            
                            Made In is required!
                            
                        </p>
                    </div>
                    
                </ng-container>
                  <div class="offer-label">
                      <label for="carImage">Car Image: {{car.imageUrl}}</label>
                <label for="carBrand">Car Brand: {{car.model}}</label>
              </div>
              <div class="form-group offer-input">
                <input
                ngModel
                #imageInput="ngModel"
                  type="text"
                  class="form-control-2"
                  id="carImage"
                  placeholder="https://..."
                  name="imageUrl"
                  value={{car.imageUrl}}
                  required=""
                  pattern="https:\/\/.+|http:\/\/.+"
                />
                <ng-container *ngIf="imageInput.touched">
                    <div class="error" *ngIf="imageInput.errors?.['required']">
                        <p>
                            
                            Image is required!
                            
                        </p>
                    </div>

                    <div class="error" *ngIf="imageInput.errors?.['pattern']">
                        <p>
                            
                            Image is not valid!
                            
                        </p>
                    </div>
                    
                </ng-container>
                <input
                ngModel
                #modelInput="ngModel"
                  type="text"
                  class="form-control-2"
                  id="carBrand"
                  placeholder="Audi"
                  name="model"
                  value={{car.model}}
                  required=""
                />
              </div>
              <ng-container *ngIf="modelInput.touched">
                <div class="error" *ngIf="modelInput.errors?.['required']">
                    <p>
                        
                        Car brand is required!
                        
                    </p>
                </div>
                </ng-container>
              <div class="offer-label">
                <label for="seats">Available Seats: {{car.seats}}</label>
                <label for="price">Price: {{car.price}}</label>
              </div>
              <div class="form-group offer-input">
                <input
                ngModel
                #seatsInput="ngModel"
                  type="number"
                  class="form-control-2"
                  id="seats"
                  placeholder="4"
                  name="seats"
                  value={{car.seats}}
                  required=""
                />
                <ng-container *ngIf="seatsInput.touched">

                    <div class="error" *ngIf="seatsInput.errors?.['required']">
                        <p>
                            
                            Seats is required!
                            
                        </p>
                    </div>
                </ng-container>
                <input
                ngModel
                #priceInput="ngModel"
                  type="number"
                  class="form-control-2"
                  id="price"
                  placeholder="25"
                  name="price"
                  value={{car.price}}
                  required=""
                />
              </div>
              <ng-container *ngIf="priceInput.touched">
              <div class="error" *ngIf="priceInput.errors?.['required']">
                <p>
                    
                   Price is required!
                    
                </p>
                
            </div>
              </ng-container>
              <div class="form-group">
                <label for="description">Description: {{car.description}}</label>
                <textarea
                ngModel
                #descriptionInput="ngModel"
                  class="form-control"
                  id="description"
                  placeholder="Information about the car"
                  name="description"
                  minlength="10"
                  required=""
                ></textarea>
                <ng-container *ngIf="descriptionInput.touched">
                <div class="error" *ngIf="descriptionInput.errors?.['required']">
                    <p>
                        
                       Description is required!
                        
                    </p>
                </div>
                <div class="error" *ngIf="descriptionInput.errors?.['minlength']">
                    <p>
                        
                       Description has to be at least 10 characters long!
                        
                    </p>
                </div>
            </ng-container>
              </div>
              <div *ngIf="form.invalid">

                  <button type="submit" disabled class="btn btn-primary">Submit</button>
              </div>
              <div *ngIf="form.valid">
                <button type="submit"  class="btn btn-primary">Submit</button>

              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
</ng-container>
  </body>
</html>